@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto&display=swap");

header {
  display: flex;
  justify-content: center;
  background: #bfbfbf;
  border: solid;
  margin: 1.25rem 1.25rem 0rem 1.25rem;
  padding: 1.063rem;
  box-shadow: 0rem 0rem 0.813rem 0.063rem rgb(0 0 0 / 78%);
}

aside {
  width: 28vw;
  background: #bfbfbf;
  border: solid;
  margin: 1.25rem 1.25rem 0rem 1.25rem;
  padding: 0rem 1.063rem;
  float: left;
  box-shadow: 0rem 0rem 0.813rem 0.063rem rgb(0 0 0 / 78%);
}

img {
  width: 100%;
  height: 100%;
  border: inset;
  
}
.profile-picture {
  height: 12.5rem;
  width: 12.5rem;
  margin-right: 0.938rem;
}

.hgroup {
  display: flex;
  font-family: 'Kdam Thmor Pro', sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.375rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

.justify-text {
  text-align: justify;
}

.main-content {
  background: #bfbfbf;
  border: solid;
  margin: 1.25rem 1.25rem 0rem 0rem;
  padding: 0rem 1.188rem;
  box-shadow: 0rem 0rem 0.813rem 0.063rem rgb(0 0 0 / 78%);
  width: 100%;
}

a {
  color: #4a4242;
}

h2 {
  margin: 0rem;
}

h1 {
  margin-bottom: 0rem;
}

main {
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
  background: #bfbfbf;
  border: solid;
  margin: 1.25rem 1.25rem 0rem 1.25rem;
  padding: 1.063rem;
  box-shadow: 0rem 0rem 0.813rem 0.063rem rgb(0 0 0 / 78%);
}