.lineup {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0rem 0rem 0.813rem -0.313rem rgb(0 0 0 / 61%);
  border-radius: 0.75rem;
  padding: 0.75rem;
}

.button-group {
  margin: 1.438rem 0rem 5rem 0rem;
}

.label-input {
  margin: 0.75rem 0rem;
}

label {
  display: block;
}

.lineup-row {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

input {
  padding: 0.219rem;
  margin-top: 0.125rem;
  width: 16rem
}
